@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body {
    margin: 0;
    padding: 0;
    background-color: #242424;
}

h1 {
    font-size: 4em;
}

html {
    scroll-behavior: smooth;
}

/*
nav
*/
#main--nav {
    background-color: #000;
}

.nav--list {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: flex-start;
    align-items: center;
    margin: auto;
    height: 4em;
}

.list--items {
    list-style: none;
    font-size: 1.2em;
}

a {
    color: #fff;
    position: relative;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    color: #fff;
}

a:hover {
    color: #fff;
}

.fa-adjust {
    color: #fff;
}

.yellow {

    color: #FFFF00;
}


/*
header
*/

#content-header {
    width: 100%;
    background-color: #242424;
}

.header--content {
    width: 50%;
    margin: auto;
    padding: 2em;
    color: #fff;
}

.header--para {
    font-size: 2em;
    line-height: 2em;
}

.header--a {
    color: #FFFF00;
}

/*
social links
*/

.social--links {
    width: 70%;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.link-element {
    background-color: #F06449;
    color: #ddd;
    padding: 6px;
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 2em;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.fa-linkedin, .fa-github-square, .fa-file-pdf {
    font-size: 2.5em;
}


/*
projects
*/

#projects-section {
    background-color: #242424;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 6em;
}

.project-header {
    background-color: #242424;
    color: #fff;
    height: 24em;
    padding: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

.project-header > h1 {
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card {
    height: 14em;
    width: 80%;
    margin: 3em auto;
    transform-style: revert;
    perspective: 300px;
    transition: 0.5ms;
}

.card:hover .card-front {
    transform: rotateX(-180deg);
}

.card:hover .card-back {
    transform: rotateX(0deg);
}

.card-front {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.6s;

}

.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.6s;
    color: #000;
    text-align: center;
}

.card-back > a {
    margin: auto;
    top: 0.5em;
    font-size: 1em;
    color: #F06449;

}

.card-img {
    width: 100%;
    height: 100%;
    padding: 1em;
}

/*
mini projects
*/

#mini-projects{
    background-color: #242424;
    height: auto;
    width: 100%;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}
#mini-projects>h1{
    width: 60%;
    margin: 0 auto;
    font-size: 5em;
}


/*
technologies
*/
#language-section {
    height: auto;
    background-color: #242424;
    padding: 8em 0;
}

#technologies {
    width: 100%;
    margin: auto;
    background-color: #242424;
}

#language-section > h1 {
    background-color: #242424;
    color: #fff;
    text-align: center;
    height: 3em;
}

.tech-imgs {
    border: 3px solid #fff;
    padding: 0.5em;
    transition: transform .3s;
}

.tech-imgs:hover {
    transform: scale(1.5);
    background-color: #242424;
}

/*
footer
*/

footer {
    height: 14em;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000;
    height: 7em;
    align-items: center;
    margin: 0;
}

.signature-footer {
    color: #fff;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 1em;
    background-color: #000;
    margin: 0;
}

/*
BTN Top
*/

#btn {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 2%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #242424;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
}

#btn:hover {
    background-color: #F06449;
    color: #dddddd;
}


/*
wavy hand
*/

.hand {
    margin-left: 2em;
    font-size: 2em;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }

}

/*
light mode
*/

.light-theme #content-header,
.light-theme #main--nav,
.light-theme #projects-section,
.light-theme footer,
.light-theme #language-section,
.light-theme #language-section > h1,
.light-theme #technologies,
.light-theme .project-header,
.light-theme #mini-projects{
    background-color: #fff;
}

.light-theme a,
.light-theme h1,
.light-theme p,
.light-theme .fa-adjust,
.light-theme #language-section > h1 {
    color: #242424;
    font-weight: bold;
}

.light-theme .yellow,
.light-theme .header--a {
    color: #0000FF;
}

.light-theme .fa-linkedin,
.light-theme .fa-github-square,
.light-theme .fa-file-pdf,
.light-theme .card-back,
.light-theme .card-back > p {
    color: #fff;
}

.light-theme footer > ul > li > a {
    color: #fff !important;
}

.light-theme .card-front,
.light-theme .card-back {
    background-color: #242424;
}

.light-theme .tech-imgs {
    border: 8px solid #242424;
}


.light-theme .tech-imgs:hover {
    border: 1px solid #242424;
}

.light-theme a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

.light-theme a:hover::before {
    transform-origin: center;
    transform: scaleX(1);
    color: #000;
    transition: transform .7s ease-in-out;
}

.light-theme a:hover {
    color: #000;
}

/*
ends light theme
*/

/*
small phones
*/
@media (max-width: 600px) {
    #main--nav {
        width: 100%;
    }

    .nav--list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
    }

    #content-header {
        width: 100%;
    }

    .header--content {
        width: 100%;
        padding: 2em;
    }

    .header--content > h1 {
        font-size: 3em;
    }

    .header--para {
        font-size: 1.5em;

        line-height: 2em;
    }

    #technologies {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
    }

    .tech-imgs {
        width: 80%;
    }

    .tech-imgs-section {
        margin: 4%;
    }

    .social--links {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 4em;
    }

    #projects-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70em;
        margin: 0;
        padding: 0;
    }

    .card-back > a {
        margin: auto;
        top: 3em;

    }

}


/*
tablets
*/
@media (min-width: 600px) and (max-width: 768px) {

    #main--nav {
        width: 100%;
    }

    .nav--list {
        width: 100%;
    }

    .header--content {
        width: 100%;
    }

    .card > .card-back > a {
        top: 2.5em;
    }

    .card-back {
        padding: 1em;
    }

    #technologies {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        margin: 10%;
    }

    .tech-imgs {
        width: 50%;
    }

    .tech-imgs-section {
        margin: 3%;
    }

    .social--links {
        width: 100%;
        max-width: 100%;
    }

    #projects-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        padding-top: 0;
    }

}

/*
laptops
*/
@media (min-width: 769px) and (max-width: 1024px) {
    .nav--list {
        width: 100%;
    }

    .header--content {
        width: 100%;
    }

    #projects-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        height: 100%;
    }

    #technologies {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        margin: 0 auto;
    }

    .social--links {
        width: 60%;
        max-width: 60%;
        margin: 0;
    }


    .card-back > a {
        top: 3em;
    }

    .tech-imgs-section {
        margin: 2em;
    }

    #language-section {
        height: auto;

    }

    footer {
        height: auto;
    }

}


/*
large screens
*/
@media (min-width: 1024px) {
    .card {
        width: 40%;
    }

    .card > .card-back > a {
        top: 2.5em;
    }

    .card > .card-back > h3 {
        margin-top: 1em;
    }

    #technologies {
        width: 60%;
    }

    #main--nav {
        width: 100%;
    }

    .nav--list {
        width: 90%;
    }

    .header--content {
        width: 70%;
    }

    #technologies {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .tech-imgs-section {
        width: 20% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 20em;
    }

    footer ul {
        margin: 0;
    }

    #btn {
        font-size: 1.5em;
    }

    #projects-section {
        display: flex;
        flex-flow: row wrap;
    }


}

@media (max-width: 600px) {
    #main--nav {
        display: flex;
        flex-direction: column;
    }

    .nav--list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .footer-ul {
        height: 12em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }

    #language-section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #language-section > h1 {
        width: 100%;
        height: 4em;
        font-size: 3em;
    }

    .project-header {
        font-size: 30%;
        margin: 0;
        padding: 5rem;
        height: 20rem;

    }

    #projects {
        font-size: 12em;
    }

    #projects-section {
        margin: 0;
        padding: 0;
        height: auto;
        display: flex;
        flex-flow: row wrap;
    }

    .social--links {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .link-element {
        width: 40%;
        height: 7em;
    }
    .mini-projects_header{
        font-size: 4em !important;
    }
}


/*

Animations


*/
#destroy {
    background-color: #FFFF00;
    width: auto;
    margin: auto;
    display: none;
    position: fixed;
    right: 49%;
    z-index: 99;
    border: none;
    outline: none;
    color: #F06449;
    cursor: pointer;
    font-size: 15px;
}

#destroy:hover {
    background-color: #F06449;
    color: #dddddd;
}